@import url(card-background.css);

*, *::before, *::after {
    box-sizing: inherit;
}

html, body, main {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

a {
    color: oklch(53% 0.11 230);
}

p {
    min-width: 10em;
}

#host {
    display: none;
}

#setup {
    display: none; 
}

:root {
    font-family: sans;
    box-sizing: border-box;
    color: oklch(39% 0 0);
    overflow: hidden;
    font-size: 16px;

    --perspective: 50em;
    --rx: 0deg;
    --ry: 0deg;
    --rz: 0deg;
    --tx: 0em;
    --ty: 5em;
    --tz: 30em;
}

body {
    perspective: var(--perspective);
}

main {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    transform-style: preserve-3d;
    transform: 
/*        translateZ(var(--perspective))*/
        translate3d(var(--tx), var(--ty), var(--tz))
        rotateX(var(--rx)) rotateY(var(--ry)) rotateZ(var(--rz))
/*        translateZ(calc(-1 * var(--perspective)))*/
    ;
}

.table {
    position: absolute;
    width: 10em;
    height: 10em;
    background-image: linear-gradient(0deg, green, lime);
    transform: 
        rotateX(90deg)
    ;
}

section {
    transform-style: preserve-3d;
    position: absolute;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

section.player {
    max-width: 10em;
    margin: 2em 1em;
}

section.table {

}

section.my {
    transform: translateY(-3em) rotateY(0deg) translateZ(4em);
}

section.left {
    transform: translateY(-3em) rotateY(270deg) translateZ(4em);
}

section.across {
    transform: translateY(-3em) rotateY(180deg) translateZ(4em);
}

section.right {
    transform: translateY(-3em) rotateY(90deg) translateZ(4em);
}

section .cards {
    transform-style: preserve-3d;
    display: flex;
    flex-direction: row;
}

.card {
    position: relative;
    display: block;
    width: 1em;
}

.card .card-check {
    display: none;
}

.card .card-face {
    position: relative;
    padding: 0;
    margin: 0;
    border: none;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
}

.my .card .card-check:checked + .card-face {
    top: -1em;
    box-shadow: 3px 3px orange;
}

.my .card .card-face:hover {
    box-shadow: 3px 3px yellow;
}

.play-button {
}

.play-button.off-turn {
    text-decoration: line-through;
}

.play-button.unplayable {
    color: red;
}

.token {
    width: 2em;
    height: 2em;
}

.token > * {
    width: 100%;
    height: 100%;
}
