@import url(card-background.css);

*, *::before, *::after {
    box-sizing: inherit;
}

html, body, main {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

h1, h2 {
    margin: 0;
}

input {
    font-size: inherit;
}

a {
    color: oklch(53% 0.11 230);
}

#error-description {
    display: none;
    position: fixed;
    left: 0;
    top: 0;

}

:root {
    font-family: sans;
    box-sizing: border-box;
    color: oklch(39% 0 0);
    overflow: hidden;
    font-size: 160px;
    text-align: center;

    --perspective: 800px;
    --rx: -45deg;
    --ry: 0deg;
    --rz: 0deg;
    --tx: 0px;
    --ty: 200px;
    --tz: -1600px;
}

body {
    perspective: var(--perspective);
}

main {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    transform-style: preserve-3d;
    transform: 
        translate3d(var(--tx), var(--ty), var(--tz))
        rotateX(var(--rx)) rotateY(var(--ry)) rotateZ(var(--rz))
    ;
}

.table {
    position: absolute;
    width: 1600px;
    height: 1600px;
    background-image: linear-gradient(0deg, green, lime);
    transform: 
        rotateX(90deg)
    ;
}

section.table {
    transform-style: preserve-3d;
    position: absolute;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.player {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

section.player .name, section.player .cards {
    grid-area: auto / span 4;
}

section.player .token {
    grid-area: span 1;
}

section.table {
}

section.my {
    transform: translateY(-800px) rotateY(0deg) translateZ(600px) rotateX(35deg) translateZ(400px);
}

section.left {
    transform: translateY(-800px) rotateY(270deg) translateZ(600px) rotateY(135deg) translateZ(-500px) rotateX(15deg);
}

section.across {
    transform: translateY(-800px) rotateY(180deg) translateZ(600px) rotateY(180deg) rotateX(15deg);
}

section.right {
    transform: translateY(-800px) rotateY(90deg) translateZ(600px) rotateY(225deg) translateZ(-500px) rotateX(15deg);
}

section .cards {
    transform-style: preserve-3d;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    position: relative;
    display: block;
    width: 160px;
}

.card .card-check {
    display: none;
}

.card .card-face {
    position: relative;
    padding: 0;
    margin: 0;
    border: none;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
}

.my .card .card-check:checked + .card-face {
    top: -160px;
    box-shadow: 30px 30px orange;
}

.my .card .card-face:hover {
    box-shadow: 30px 30px yellow;
}

.my .start {
}

.my .play {
    display: none;
}

.my .play.off-turn {
    text-decoration: line-through;
}

.my .play.unplayable {
    color: red;
}

.load {
    margin: 0;
}

.token {
    width: 320px;
    height: 320px;
    overflow: hidden;
}

.token > * {
    width: 100%;
    height: 100%;
}

.host-config {
    display: none;
}
